{
  "extends": [
    "plugin:vitest-globals/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "**/tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import"
  ],
  "root": true,
  "env": {
    "vitest-globals/env": "true"
  },
  "rules": {
    "import/no-default-export": "error",
    "no-redeclare": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/no-floating-promises": [
      "error",
      {
        "ignoreVoid": true
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "src/plugins/**/*",
        "src/routes/**"
      ],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}